.App {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.timer {
  display: flex;
  justify-content: center;
}

.clock {
  display: flex;
}

.clock > section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  max-width: 80vw;
  text-align: center;
  z-index: 1;
}

h3 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

@media only screen and (max-width: 780px) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 630px) {
  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 365px) {
  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .clock > section {
    margin: 0.5rem;
  }
}